body{
margin: 0;
background-color: #f4f3f3;
}

header{
    background-color: #000;
    padding-bottom:5px; 
}
header h1{
    color: #fff;
}
main{
    background-color:#f4f3f3;
}
main .left-div{
    margin-top: -100px;
}
 main .abt-h{
     height: 100px;
     border: 1px solid #ececec;
 }
 main .more a{
    color: #45aecc;
    text-decoration: none;
 }
 main .box-1{
    height: 70px;
    border: 1px solid #ececec;
 }
 main span:first-child{
     background-color: #de601f;
     padding: 8px 15px;
     border-radius: 5px;
     color: #fff;
 }

 main span:last-child{
     color: #17c2c4;
 }
 main hr{
     border: 1px thin #ececec;
     width: 100%;
 }
 main .box-2{
     border-left: 1px solid #ececec;
 }
 main .btn{
     background-color: #85c525;
     color: #fff;
 }
 main .n-link{
     background-color: #85c525;
     border-radius: 5px 5px 0px 0;
 }

 main .btn1{
     background-color: transparent;
     color: #000;
     border: 1px solid #ececec;
     border-radius: 5px;
     padding: 10px 0;
 }
 .fa-google-plus-square{
     color: #f4511e;
     font-size: 25px;
 }
 .fa-facebook-square{
     color: #3f51b5;
     font-size: 25px;
 }
 .fa-twitter-square{
     color: #03a9f4;
     font-size: 25px;
 }
 .fa-file-image-o{
     font-size: 2.5rem;
     color: #ededed ;
 }
 .txt-color p{
     color: #d7d7d7;
 }
 .bg-none{
     background-color:transparent; 
     border: none;
     color: #03a9fa;
 }

/*-------------Modal Css--------------*/
.modal-content{
    border-radius: 0;
}
.modal-header{
    background-color: #212121;
    border-radius: 0;
}
.btn-lime{
    background-color: #85c525;
    color: #fff;
    padding: 5px 35px;
}
.btn-cancel{
    background-color: #fff;
    color: #000;
    border: 1px solid #ececec;
    padding: 5px 35px;
}

 @media screen and (max-width:575px){
    main .left-div{
        margin-top: 0px;
    }
    main .box-2{
        border-left: 0px solid #ececec;
        margin-right: 5px;
    }
 }
 @media screen and (max-width:768px){
    main .left-div{
        margin-top: 0px;
    }
 }